.missionCards {
  background-color: rgba(200, 200, 200, 0.3);
  border: 1px solid gray;
  border-radius: 20px;
  font-size: larger;
  margin-bottom: 20px;
  width: 30%;
}

.infosCard {
  border-top: 2px solid gray;
  display: flex;
  font-size: medium;
  justify-content: space-around;
}
