.line {
  border-top: 3px solid red;
  height: 1px;
  width: 100%;
}

.Mercúrio img {
  max-height: 50px;
  max-width: 50px;
  width: auto;
}

.Vênus img {
  max-height: 100px;
  max-width: 100px;
}

.Terra img {
  max-height: 100px;
  max-width: 100px;
}

.Marte img {
  max-height: 70px;
  max-width: 70px;
}

.Júpiter img {
  max-height: 270px;
  max-width: 270px;
}

.Saturno img {
  max-height: 270px;
  max-width: 270px;
}

.Urano img {
  max-height: 150px;
  max-width: 150px;
}

.Netuno img {
  max-height: 150px;
  max-width: 150px;
}
