body {
  background-image: url('./images/background.png');
  text-align: center;
}

header {
  background-color: rgba(200, 200, 200, 0.3);
  border: 1px solid gray;
  border-radius: 20px;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 35px;
  margin-top: 100px;
}

.cardContent {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
}
